[Unit]
Description=Backup dotfiles
OnFailure=backup-failed.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/backup
ExecStartPost=/usr/bin/notify-send -a "CronJob" "Backup" "Готово"
ExecStartPost=/usr/bin/paplay %h/.local/share/sounds/backup-ok.ogg
